body{
    background-image:url(pill-question-mark.png);
    background-repeat:no-repeat;
    background-size: 300px;
    background-position: center 500px;
    background-attachment:scroll;
}

    
#main-body{
  min-height: 700px;
  padding-top: 0px;
}
#main-heading{
  padding-top: 50px;
  margin-left: 0px;
  border-bottom: 2px solid #ffa500;
}
#description{
  line-height: 2;
}

.form-control{
display: inline-block;
}

#main-heading>div{
padding-left: 0px;
}


.container {
/*  max-width: 1000px;*/
 }

#chart {
  overflow-y: scroll;
}

#chart {
  background: transparent;
  padding: 10px;
}

#chart div {
  width: 0px;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

#chart div {
  height: 20px;
  font: 12px;
  background-color: #FF7400;
  text-align: right;
  padding: 0px;
  color: black;
  box-shadow: 2px 2px 2px gray;
}

#radarchart {
      position: absolute;
      top: 50px;
      left: 100px;
    }
#radarchart {
  background: transparent;
  padding: 10px;
}

#radarchart div {
  width: 0px;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

#radarchart div {
  height: 20px;
  font: 12px;
  background-color: #FF7400;
  text-align: right;
  padding: 0px;
  color: black;
  box-shadow: 2px 2px 2px gray;
}

